input, select, textarea, button  {
    touch-action: manipulation;
}

.main-content {
    margin-top: 0;
    margin-left: 232px;
    padding: 90px 20px 0 20px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-title {
    width: 100%;
}

.task-form {
    display: flex;
    gap: 50px;
    width: 100%;
    flex: 1;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px 20px;
}

.form-left,
.form-right {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.priority {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

p {
    padding: 0;
    margin: 0;
}

.prio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 8px;
    cursor: pointer;
}

.prio p {
    margin: 0;
    text-align: left;
}

.required {
    color: red;
    font-weight: bold;
}

.divider_mid {
    width: 1px;
    background: #ccc;
    margin: 0 10px;
}


.dropdown {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    user-select: none;
}

.dropdown:hover {
    border-color: #94D5F0; 
    box-shadow: 0 0 5px rgba(148, 213, 240, 0.6);
    outline: none;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.dropdown-arrow {
    font-size: 12px;
    color: #333;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 5;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px; 
}

.dropdown-options.show {
    display: block;
}

.dropdown-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #1A242F;
    color: white;

}

.dropdown-item span {
    font-size: 12px;
}

.avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    cursor: pointer;   
}

.color {
    background-color: #2a3d59;
}

.divider-btn {
    width: 1px;
    height: 20px; 
    background-color: #ccc; 
    align-self: center;
}

.divider-dou {
    width: 1px;
    height: 15px; 
    background-color: #ccc;
    align-self: center;
}

.required-message {
    margin-top: 50px;
}

.input-date-container {
    position: relative;
}

.calendar-icon {
    position: absolute;
    height: 30px;
    width: 25px;
    right: 8px;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.subtask-input-container {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.subtask-input::placeholder {
    font-size: 12px;
    color: #787878;
}

#new-subtask {
    position: absolute;
    top: 3px;
    bottom: 2px;
    right: 5px;
}

#new-subtask img:hover {
    background-color: #ccc;
    border-radius: 50%;
}

.btn-div-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 5px;
    gap: 2px;
}

.divider-input {
    height: 80%;
    width: 1.1px;
    background-color: #ccc; 
}
.validation-messages {
    cursor: pointer;
    padding: 2px 5px;
    font-size: 12px;
}

.validation-messages img {
    height: 20px;
}

.validation-messages p {
    margin-top: 2px;
    height: 18px;
}

.validation-messages:hover {
    background-color: #e9e9e9;
    border-radius: 5px;   
}

.validation {
    position: relative;
    height: 25px;
}

.messages-container {
    position: relative;
}

.divider-sub-input {
    height: 85%;
    width: 1.1px;
    background-color: #ccc; 
}

.sub-btn {
    cursor: pointer;
}

.sub-btn:hover {
    background-color: #ccc;
    border-radius: 50%;
    padding: 0;
}

.btn-div-sub img {
    height: 85%;
}

.overlay-to-board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: -100vw;
    right: 0;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    background-color: #33333353;
}

.overlay-board {
    top: 0;
    bottom: 0;
}

.info-to-board {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrey);
    padding: 10px 20px;
    border-radius: 15px;
    gap: 10px;
    color: var(--item-color);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
}

.error {
    border-color: red !important;
}