.button-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex; 
    gap: 5px; 
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 17px;
}

.icon-btn img {
    width: 18px;
    height: 18px;
}

.icon-btn:hover {
    transform: scale(0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-clear {
    background-color: white;
    color: #2A3D59;
    border: 1px solid #2A3D59;
}

.btn-create {
    background-color: #2A3D59;
    border: 1px solid #2A3D59;
    color: white;
}

.btn-cre-cle {
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 10px 15px;
    gap: 10px;
    font-size: 14px;
}

.btn-create:hover {
    transform: translateY(-1px);
    background-color: #29ABE2;
    border-color: #29ABE2;
}

.btn-clear:hover {
    transform: translateY(-1px);
    color: #29ABE2 ;
    border-color: #29ABE2;
}

.urgent, .medium, .low {
    background-color: #FFFFFF;
    border: none;
    max-width: 150px;
}

.urgent:hover, .medium:hover, .low:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.urgent.selected {
    background-color: #FF3D00;
    font-weight: bold;
    color: white;
    transform: none;
    box-shadow: none;
}

.medium.selected {
    background-color: #FFA800;
    font-weight: bold;
    color: white;
    transform: none;
    box-shadow: none;
}

.low.selected {
    background-color: #7AE229;
    font-weight: bold;
    color: white;
    transform: none;
    box-shadow: none;
}

.urgent:focus img, .medium:focus img, .low:focus img {
    filter: brightness(0) invert(1);
}

textarea {
    min-height: 100px;
    max-height: 250px;
    resize: vertical;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.input-wrapper {
    position: relative;
    margin-bottom: 15px;
}

.input-wrapper input {
    padding-right: 80px;
}

.input-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: white !important;
    height: 30px;
}

.input-text:focus {
    border-color: #94D5F0; 
    box-shadow: 0 0 5px rgba(148, 213, 240, 0.6);
    outline: none;
}

select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 30px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: white !important;
}

select:focus,
textarea:focus {
    border-color: #94D5F0; 
    box-shadow: 0 0 5px rgba(148, 213, 240, 0.6);
    outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"]:focus {
    border-color: #94D5F0;
}


.dropdown-item input[type="checkbox"] {
    margin-left: auto;
    margin-right: 20px;
    width: 16px;
    height: 16px;
}

.dropdown-item:hover input.icon[type="checkbox"] {
    filter: brightness(0) invert(1);
}

.input-double {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: white !important;
    height: 28px;
}

.input-double:focus { 
    border-bottom: 1px solid #007bff; 
    outline: none;
}

.edit-input {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-bottom: 1.3px solid var(--blue);
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: white !important;
    height: 28px;
    margin-bottom: 2px;
}

.edit-input:focus {
    outline: none;
}

.task-form {
    display: flex;
    gap: 50px;
    width: 100%;
    flex: 1;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px 20px;
}

.form-left,
.form-right {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.priority {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

p {
    padding: 0;
    margin: 0;
}

.prio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 8px;
    cursor: pointer;
}

.prio p {
    margin: 0;
    text-align: left;
}

.required {
    color: red;
    font-weight: bold;
}

.divider_mid {
    width: 1px;
    background: #ccc;
    margin: 10px;
}

.dropdown {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    user-select: none;
}

.dropdown:hover {
    border-color: #94D5F0; 
    box-shadow: 0 0 5px rgba(148, 213, 240, 0.6);
    outline: none;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.dropdown-arrow {
    font-size: 12px;
    color: #333;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 5;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px; 
}

.dropdown-options.show {
    display: block;
}

.dropdown-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #1A242F;
    color: white;

}

.dropdown-item span {
    font-size: 12px;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    background-image: url("../../assets/icons/checkbox-disabled.svg"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
    background-image: url("../../assets/icons/checkbox-checked.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="date"] {
    background: url('../../assets/icons/calander.svg') no-repeat right center;
    background-size: 20px;
    cursor: pointer;
    background-position: calc(100% - 10px)
}

.low.selected img {
    width: 32px;
    height: 13px;
    content: url('../../assets/icons/low-white.svg');
}

.medium.selected img {
    width: 32px;
    height: 7px;
    content: url('../../assets/icons/medium-white.svg');
}

.urgent.selected img {
    width: 32px;
    height: 13px;
    content: url('../../assets/icons/urgent-white.svg');
}

.show img {
    content: url('../../assets/icons/arrow-up-dropdown.svg');
}