input, select, textarea, button  {
    touch-action: manipulation;
}

.main-content {
    margin-top: 0;
    margin-left: 232px;
    padding: 90px 20px 0 20px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-title {
    width: 100%;
}
