:root {
    --color1: #F6F7F8;
}

* {
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color1);
    padding: 0;
}

html, body, textarea, .dropdown-options {
    scrollbar-width: thin;
    scrollbar-color: #2A3647 #f5f5f5;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}