@media (max-width:827px) {
    .add-task-overlay {
        display: none !important;
    }
}

@media(max-width: 1100px) {
    .head {
        align-items: start;
        flex-direction: column;
        margin: 0 16px;
        padding-top: 100px;
    }

    .find-add-task {
        margin-right: 0px;
        height: 40px;
    }

    .add-task {
        height: 40px;
        width: 40px;
    }

    .split {
        flex-direction: column;
        gap: 24px;
        margin: 24px 16px 0 16px; 
        overflow-x: hidden !important;
    }

    .spliter-header {
        width: 250px;
    }

    .no-task {
        background-color: #e7e7e7;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 18px;
        border-radius: 16px;
        border-style: dashed;
        border-color: #a8a8a8;
    }

    .task-container {
        display: flex;
        gap: 10px;
    }

}