* {
    transition: all 0.2s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 16px;
}

.active {
    background: #091931 !important;
    padding-left: 56px !important;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #2A3647;
    color: #ffffff;
    width: 232px;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.aside-logo {
    margin-top: 64px;
}

.aside-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aside-nav a {
    display: flex;
    align-items: center;
    height: 46px;
    color: #ffffff;
    text-decoration: none;
    gap: 8px;
    padding: 8px 56px;
}

.aside-nav a:hover {
    background: #2a3d59;
    padding-left: 60px;
}

.aside-imprint {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.aside-imprint a {
    color: #A8A8A8;
    text-decoration: none;
    padding: 8px;
}

.aside-imprint a:hover {
    color: #29ABE2;
}

@media screen and (min-width: 0px) and (max-width: 676px) {
    .aside-logo, .aside-imprint {
        display: none;
    }

    .active {
        padding: 0 !important;
        
    }

    aside {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        z-index: 1000;
        top: auto;
        left: 0;
        bottom: 0;
        padding: 2px 0;
    }

    .aside-nav {
        width: 100%;
        padding: 0 16px;
        flex-direction: row;
        justify-content: space-evenly;
        gap: none;
    }

    .aside-nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 76px;
        color: #ffffff;
        text-decoration: none;
        gap: 8px;
        padding: 0 2px !important;
        font-size: 14px;
        flex: 0 0 calc(100% / 5);
        border-radius: 16px;
    }
}